<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>

    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full min-h-screen bg-zinc-900 text-white ">
        <h3 class="pt-5 pl-5 text-3xl">Create Your Account</h3>
        <form action="/register" class="px-5 py-10" method="post">
            <diV class="mb-10">

                 <input class="px-3 py-3 outline-none rounded-lg text-zinc-900" type="text" placeholder="name" name="name">
             <input class="px-3 py-3 outline-non rounded-lg text-zinc-900" type="text" placeholder="age" name="age">
             <input class="px-3 py-3 outline-non rounded-lg text-zinc-900" type="text" placeholder="username" name="username">
              <input class="px-3 py-3 outline-non rounded-lg text-zinc-900" type="text" placeholder="email" name="email" >
               <input class="px-3 py-3 outline-non rounded-lg text-zinc-900" type="text" placeholder="password" name="password" >
            </diV>
           
               <input  class="px-5 py-5 bg-blue-700 rounded-md" type="submit" " value="Create Account">
               
        </form>

    </div>
    
</body>
</html>